<div class="padding-inner">
  <md-content flex layout-padding>
    <div class="content-container" layout="row">
      <md-card layout="col" flex="50">
        <md-card-content>
          <form name = 'punnettForm'>
            <div>
              <h3>Number of Traits:</h3>
              <md-input-container class="md-input-has-value traits-input-container">
                <input type="number" name="traitsNum" maxlength="1" ng-model="app.traitsNum" ng-change="app.changeTraitsNum()">
              </md-input-container>
            </div>

            <h3>Parent 1:</h3>
            <div ng-repeat = "trait in app.parent1.traits">
              <h4>Trait Alleles:</h4>
              <md-input-container class="md-input-has-value allele-input-container">
                <input type="text" name="allele1" maxlength="1" ng-model="trait.alleles[0]">
              </md-input-container>

              <md-input-container class="md-input-has-value allele-input-container">
                <input type="text" name="allele2" maxlength="1" ng-model="trait.alleles[1]">
              </md-input-container>

            </div>

            <h3>Parent 2:</h3>
            <div ng-repeat = "trait in app.parent2.traits">
              <h4>Trait Alleles:</h4>
              <md-input-container class="md-input-has-value allele-input-container">
                <input type="text" name="allele1" maxlength="1" ng-model="trait.alleles[0]">
              </md-input-container>

              <md-input-container class="md-input-has-value allele-input-container">
                <input type="text" name="allele2" maxlength="1" ng-model="trait.alleles[1]">
              </md-input-container>
            </div>


            <md-button type="submit" class="btn btn-primary" ng-click="app.submitClick()" ng-disabled="punnettForm.$invalid">Submit</md-button>

          </form>
        </md-card-content>
      </md-card>


      <md-card layout="column" flex="50">
        <md-card-content>


          <div class="gridListdemoBasicUsage">
            <md-grid-list md-cols= "{{ app.colNum }} 2" md-row-height="1:1" md-gutter="5px" >

                <md-grid-tile class="green" ng-repeat="tile in app.tiles" md-colspan="1" md-rowspan="1">
                  <div>
                  </div>
                </md-grid-tile>

                


              </md-grid-list>
          </div>
        </md-card-content>
      </md-card>
    </div>








  </md-content>
</form>
</div>
