
.traits-input-container {
  width: 100px;
  margin: auto;
}

.traits-input-container input {
  text-align: center;
  font-size: 1.5em;
}

.allele-input-container {
  width: 100px;
  margin: auto;
}



.allele-input-container input {
  text-align: center;
  font-size: 1.5em;
}

.gridListdemoBasicUsage {
  justify-content: right;

}

.gridListdemoBasicUsage md-grid-list {
  width: 80%;
  margin: 8px;
 }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.parent1-container {
  width: 80%;
}

.parent1-container div {
  font-size: 2em;
  text-align: center;
  display: inline-block;
  width: 49%;
}

.parent2-container {
  width: 20%;
}

.parent2-container div {
  font-size: 2em;
  text-align: center;
  padding-top: 40%;
  padding-bottom: 40%;
  display: block;

}
